<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover</title>
    <link rel="icon" href="https://www.kt.com/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    {% include 'header.html' %}
    <main class="contents">
        <section class="wrap">
            <h1>Cover Page</h1>
            <p>역풍에 주저하지말고 또 다시 날아보도록 하자..새 한마리만 그려넣으면 남은 여백은 모두 하늘인 것을..!</p>
            <button type="button" name="button">Learn More</button>
        </section>
    </main>
    <footer>
        <p>All rights reserved. ©KT</p>
    </footer>
</body>
</html>
